* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
}
body {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;

}

.error {
    color: #FF0000;
}

.chat-connection-ack {
    color: #26af26;
}

.chat-message {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#frmChat {
    width: 50%;
}
#btnSend {
    background: linear-gradient(#e66465, #9198e5);
    border:  #000000 1px solid;
    border-radius: 4px;
    color: #FFF;
    display: block;
    margin: 15px 0px;
    padding: 10px 50px;
    cursor: pointer;
}

#chat-box {
    background: #E8E8E8;
    border: 1px solid  #000000;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: 300px;
    padding: 10px;
    overflow: auto;
}

.chat-box-html {

    font-size: 20px;
    line-height: 13pt;
    color: #000000;
    margin: 0 0 10px 0;
    
}

.chat-box-message {
    color: #FFF;
    font-size: 15px;
    padding: 5px 10px;
    width: 80%;
    height: 20px;
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
    display: inline-block;
    margin-bottom: 10px;
}

.chat-input {
    border: 1px solid  #000000;
    border-top: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px;
    color: #191919;
}
